
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0F1116;
  color: white;
}

.gradient-border {
  background: linear-gradient(#0F1116, #0F1116) padding-box,
              linear-gradient(to right, #9F3FFF, #FF3FED) border-box;
  border: 1px solid transparent;
}
